# Checkpoint 1

## Carregar módulos

In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from datetime import timedelta


sns.set(style="whitegrid")

## Carregar dados

In [58]:
path = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
path_dead = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

In [59]:
dados_paises_covid = pd.read_csv(path)
dados_paises_covid_dead = pd.read_csv(path_dead)

In [60]:
dados_paises_covid

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

## Ajustes

- Nomes das colunas

In [61]:
dados_paises_covid.rename(
    columns={"Province/State": "province", "Country/Region": "country"}, inplace=True
)

In [62]:
dados_paises_covid_dead.rename(
    columns={"Province/State": "province", "Country/Region": "country"}, inplace=True
)

In [63]:
dados_paises_covid_dead.columns

Index(['province', 'country', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1147)

- Reajustar dados

In [64]:
dados_paises_covid = dados_paises_covid.melt(
    id_vars=["province", "country", "Lat", "Long"],
    var_name="date",
    value_name="infected",
)

In [65]:
dados_paises_covid_dead = dados_paises_covid_dead.melt(
    id_vars=["province", "country", "Lat", "Long"], var_name="date", value_name="dead"
)

In [66]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long    date  dead
330322      NaN    West Bank and Gaza  31.952200   35.233200  3/9/23  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400  3/9/23     0
330324      NaN                 Yemen  15.552727   48.516388  3/9/23  2159
330325      NaN                Zambia -13.133897   27.849332  3/9/23  4057
330326      NaN              Zimbabwe -19.015438   29.154857  3/9/23  5671

In [67]:
dados_paises_covid_dead.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
dead          int64
dtype: object

- Ajustar datas

In [68]:
dados_paises_covid["date"] = pd.to_datetime(
    dados_paises_covid["date"], infer_datetime_format="True"
)

In [69]:
dados_paises_covid_dead["date"] = pd.to_datetime(
    dados_paises_covid_dead["date"], infer_datetime_format="True"
)

In [70]:
dados_paises_covid.tail()

,province,country,Lat,Long,date,infected
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276

In [71]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long       date  dead
330322      NaN    West Bank and Gaza  31.952200   35.233200 2023-03-09  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400 2023-03-09     0
330324      NaN                 Yemen  15.552727   48.516388 2023-03-09  2159
330325      NaN                Zambia -13.133897   27.849332 2023-03-09  4057
330326      NaN              Zimbabwe -19.015438   29.154857 2023-03-09  5671

In [72]:
dados_paises_covid_dead.dtypes

province            object
country             object
Lat                float64
Long               float64
date        datetime64[ns]
dead                 int64
dtype: object

- Combinar os datasets

In [73]:
dados_paises_covid.shape

(330327, 6)

In [74]:
dados_paises_covid_dead.shape

(330327, 6)

In [75]:
dados_covid = pd.merge(
    dados_paises_covid,
    dados_paises_covid_dead,
    on=["province", "country", "Lat", "Long", "date"],
    how="inner",
)

In [76]:
dados_covid.tail()

,province,country,Lat,Long,date,infected,dead
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228,5708
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535,0
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945,2159
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135,4057
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276,5671

In [77]:
dados_covid.shape

(330327, 7)

## Aqui começa o trabalho

## *Exemplo probabilidades (memórias de cálculo)

- Prob(infectados covid)

total infectados = soma do total de infectados dos 4 países

total_populacao = soma do total de população dos 4 países

P(infectados) = total infectados / total_populacao

- P(infectado covid e ser Brasileiro)

infectado_e_brasil = total de infectados do Brasil

P(infectado covid e ser Brasileiro) = infectado_e_brasil / total_populacao

- P(Infectado covid | ser Brasileiro)

total_brasil_populacao = populacao do Brasil

P(Infectado covid | ser Brasileiro) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao)

ou

P(Infectado covid | ser Brasileiro) = infectado_e_brasil / total_brasil_populacao

# 1 
– Filtrar a data mais recente (realizar o processo para buscar a última data de forma automatizada) e os países Brasil, Itália, E.U.A e Canadá.

In [78]:
paises = ["Brazil", "Canada", "Italy", "US"]

recente = np.max(dados_covid["date"])

dados_covid[
    (dados_covid["country"].isin(paises)) & (dados_covid["date"] == recente)
].head(10)

,province,country,Lat,Long,date,infected,dead
330069,NaN,Brazil,-14.2350,-51.9253,2023-03-09,37076053,699276
330078,Alberta,Canada,53.9333,-116.5765,2023-03-09,629269,5622
330079,British Columbia,Canada,53.7267,-127.6476,2023-03-09,396817,5249
330080,Diamond Princess,Canada,0.0000,0.0000,2023-03-09,0,1
330081,Grand Princess,Canada,0.0000,0.0000,2023-03-09,13,0
330082,Manitoba,Canada,53.7609,-98.8139,2023-03-09,154712,2464
330083,New Brunswick,Canada,46.5653,-66.4619,2023-03-09,88866,834
330084,Newfoundland and Labrador,Canada,53.1355,-57.6604,2023-03-09,54757,318
330085,Northwest Territories,Canada,64.8255,-124.8457,2023-03-09,11511,22
330086,Nova Scotia,Canada,44.6820,-63.7443,2023-03-09,140793,794

In [79]:
_dados_colapsados = (
    dados_covid.groupby(["country", "date"])
    .agg(infected=pd.NamedAgg("infected", "sum"), dead=pd.NamedAgg("dead", "sum"))
    .reset_index()
)

# Colapsando provinciais...

In [80]:
df_paises = _dados_colapsados[_dados_colapsados["country"].isin(paises)]
df_paises[df_paises["date"] == recente]

       country       date   infected     dead
28574   Brazil 2023-03-09   37076053   699276
38861   Canada 2023-03-09    4617095    51720
99440    Italy 2023-03-09   25603510   188322
213740      US 2023-03-09  103802702  1123836

# 2
– Pesquisar populações de Brasil, Itália, E.U.A. e Canadá. Depois, adicionar estas populações 
como uma coluna no dataset.

dados_covid['Brasil']

In [81]:
brasil_pop = int(212.6e6)
canada_pop = int(38.01e6)
italy_pop = int(59.55e6)
us_pop = int(329.5e6)


def filtrar(pais):
    if pais == "Brazil":
        return brasil_pop
    if pais == "Canada":
        return canada_pop
    if pais == "Italy":
        return italy_pop
    if pais == "US":
        return us_pop


df_paises["pop"] = df_paises["country"].apply(filtrar)
df_paises[df_paises["date"] == recente]  # Países filtrados + População

C:\Users\gxmes\AppData\Local\Temp\ipykernel_19964\1001441053.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_paises["pop"] = df_paises["country"].apply(filtrar)

       country       date   infected     dead        pop
28574   Brazil 2023-03-09   37076053   699276  212600000
38861   Canada 2023-03-09    4617095    51720   38010000
99440    Italy 2023-03-09   25603510   188322   59550000
213740      US 2023-03-09  103802702  1123836  329500000

# 3
– Considerando somente os dados dos países apresentados, encontre as seguintes 
probabilidades, baseando-se na coluna de infectados:

In [82]:
df = df_paises  # Simplificando chamada
ano_passado = recente - timedelta(days=365)

### -- Preparando dados --

In [83]:
total_infectados = sum(df[df["date"] == recente]["infected"])
total_infectados

171099360

In [84]:
total_populacao = sum([brasil_pop, canada_pop, italy_pop, us_pop])
total_populacao

639660000

In [85]:
total_mortes = sum(df[df["date"] == recente]["dead"])
total_mortes

2063154

In [86]:
def dados(pais, tipo, tempo):
    tmp = df[df["date"] == tempo]
    return sum(tmp[tmp["country"] == pais][tipo])


def porcentagem(valor):
    return f"{round(valor * 100, 2)}%"

### a) P(infectado covid):

In [87]:
infectado_covid = total_infectados / total_populacao

print(f"Probabilidade de infecção: " + porcentagem(infectado_covid))

Probabilidade de infecção: 26.75%

## b) P(infectado covid e ser Brasileiro)

In [88]:
infectado_e_br = dados("Brazil", "infected", recente) / total_populacao

print(
    f"Probabilidade de estar infectado e ser brasileiro: " + porcentagem(infectado_e_br)
)

Probabilidade de estar infectado e ser brasileiro: 5.8%

## c) P(infectado covid | ser Brasileiro)

In [89]:
infectado_ou_br = (dados("Brazil", "infected", recente) / total_populacao) / (
    dados("Brazil", "pop", recente) / total_populacao
)

print(
    f"Probabilidade de estar infectado ou ser brasileiro: "
    + porcentagem(infectado_ou_br)
)

Probabilidade de estar infectado ou ser brasileiro: 17.44%

## d) Compare estes resultados com o mesmo período do ano passado.

In [90]:
def comparador(presente, passado, total=False):
    dif = porcentagem(presente / passado)
    if not total:
        presente = porcentagem(presente)
        passado = porcentagem(passado)
    _pattern = f"""Atual: {presente}, ano passado: {passado}, dif: {dif}"""
    return _pattern


total_infectados_passado = sum(df[df["date"] == ano_passado]["infected"])
infectado_e_br_passado = (
    dados("Brazil", "infected", ano_passado) / total_infectados_passado
)
infectado_ou_br_passado = (
    dados("Brazil", "infected", ano_passado) / total_populacao
) / (dados("Brazil", "pop", ano_passado) / total_populacao)

print(
    "Total de infectados: "
    + comparador(total_infectados, total_infectados_passado, total=True)
)
print("Infectados e brasileiros: " + comparador(infectado_e_br, infectado_e_br_passado))
print(
    "Infectado ou brasileiro: " + comparador(infectado_ou_br, infectado_ou_br_passado)
)

Total de infectados: Atual: 171099360, ano passado: 125249943, dif: 136.61%
Infectados e brasileiros: Atual: 5.8%, ano passado: 23.31%, dif: 24.86%
Infectado ou brasileiro: Atual: 17.44%, ano passado: 13.73%, dif: 126.98%

## e) P(infectado covid e ser USA)

In [91]:
infectado_e_us = dados("US", "infected", recente) / total_populacao

print(
    f"Probabilidade de estar infectado e ser estadunidense: "
    + porcentagem(infectado_e_us)
)

Probabilidade de estar infectado e ser estadunidense: 16.23%

## f) P(infectado covid | ser USA)

In [92]:
infectado_ou_us = (dados("US", "infected", recente) / total_populacao) / (
    dados("US", "pop", recente) / total_populacao
)

print(
    f"Probabilidade de estar infectado ou ser estadunidense: "
    + porcentagem(infectado_ou_us)
)

Probabilidade de estar infectado ou ser estadunidense: 31.5%

## g) Compare estes resultados com o mesmo período do ano passado.

In [93]:
infectado_e_us_passado = dados("US", "infected", ano_passado) / total_infectados_passado
infectado_ou_us_passado = (dados("US", "infected", ano_passado) / total_populacao) / (
    dados("US", "pop", ano_passado) / total_populacao
)

print(
    "Infectados e estadunidense: " + comparador(infectado_e_us, infectado_e_us_passado)
)
print(
    "Infectado ou estadunidense: "
    + comparador(infectado_ou_us, infectado_ou_us_passado)
)

Infectados e estadunidense: Atual: 16.23%, ano passado: 63.5%, dif: 25.55%
Infectado ou estadunidense: Atual: 31.5%, ano passado: 24.14%, dif: 130.51%

## h) P(infectado covid e ser Italiano)

In [94]:
infectado_e_it = dados("Italy", "infected", recente) / total_populacao

print(
    f"Probabilidade de estar infectado e ser italiano: " + porcentagem(infectado_e_it)
)

Probabilidade de estar infectado e ser italiano: 4.0%

## i) P(infectado covid | ser Italiano)

In [95]:
infectado_ou_it = (dados("Italy", "infected", recente) / total_populacao) / (
    dados("Italy", "pop", recente) / total_populacao
)

print(
    f"Probabilidade de estar infectado ou ser italiano: " + porcentagem(infectado_ou_it)
)

Probabilidade de estar infectado ou ser italiano: 42.99%

## j) Compare estes resultados com o mesmo período do ano passado.

In [96]:
infectado_e_it_passado = (
    dados("Italy", "infected", ano_passado) / total_infectados_passado
)
infectado_ou_it_passado = (
    dados("Italy", "infected", ano_passado) / total_populacao
) / (dados("Italy", "pop", ano_passado) / total_populacao)

print("Infectados e italianos: " + comparador(infectado_e_it, infectado_e_it_passado))
print("Infectado ou italianos: " + comparador(infectado_ou_it, infectado_ou_it_passado))

Infectados e italianos: Atual: 4.0%, ano passado: 10.51%, dif: 38.1%
Infectado ou italianos: Atual: 42.99%, ano passado: 22.1%, dif: 194.57%

## 4

-Encontre as seguintes probabilidades, baseando-se na colunade mortos

## a) P(morte covid):

In [97]:
morte_covid = total_mortes / total_populacao

print(f"Probabilidade de morte: " + porcentagem(morte_covid))

Probabilidade de morte: 0.32%

## b) P(morte e ser Brasileiro)

In [98]:
morte_e_br = dados("Brazil", "dead", recente) / total_populacao

print(f"Probabilidade de estar morto e ser brasileiro: " + porcentagem(morte_e_br))

Probabilidade de estar morto e ser brasileiro: 0.11%

## c) P(morte covid | ser Brasileiro)

In [99]:
morte_ou_br = (dados("Brazil", "dead", recente) / total_populacao) / (
    dados("Brazil", "pop", recente) / total_populacao
)

print(f"Probabilidade de estar morto ou ser brasileiro: " + porcentagem(morte_ou_br))

Probabilidade de estar morto ou ser brasileiro: 0.33%

## D) Compare estes resultados com o mesmo período do ano passado.

In [100]:
total_mortes_passado = sum(df[df["date"] == ano_passado]["dead"])
morte_e_br_passado = dados("Brazil", "dead", ano_passado) / total_mortes_passado
morte_ou_br_passado = (dados("Brazil", "dead", ano_passado) / total_populacao) / (
    dados("Brazil", "pop", ano_passado) / total_populacao
)

print("Total de mortos: " + comparador(total_mortes, total_mortes_passado, total=True))
print("Mortos e brasileiros: " + comparador(morte_e_br, morte_e_br_passado))
print("Mortos ou brasileiro: " + comparador(morte_ou_br, morte_ou_br_passado))

Total de mortos: Atual: 2063154, ano passado: 1810557, dif: 113.95%
Mortos e brasileiros: Atual: 0.11%, ano passado: 36.11%, dif: 0.3%
Mortos ou brasileiro: Atual: 0.33%, ano passado: 0.31%, dif: 106.96%

## e) P(morte covid e ser USA)

In [101]:
morte_e_us = dados("US", "dead", recente) / total_populacao

print(f"Probabilidade de estar morto e ser estadunidense: " + porcentagem(morte_e_us))

Probabilidade de estar morto e ser estadunidense: 0.18%

## f)  P(morte covid | ser USA)

In [102]:
morte_ou_us = (dados("US", "dead", recente) / total_populacao) / (
    dados("US", "pop", recente) / total_populacao
)

print(f"Probabilidade de estar morto ou ser estadunidense: " + porcentagem(morte_ou_us))

Probabilidade de estar morto ou ser estadunidense: 0.34%

## g) Compare estes resultados com o mesmo período do ano passado.

In [103]:
morte_e_us_passado = dados("US", "dead", ano_passado) / total_mortes_passado
morte_ou_us_passado = (dados("US", "dead", ano_passado) / total_populacao) / (
    dados("US", "pop", ano_passado) / total_populacao
)

print("Mortos e estadunidenses: " + comparador(morte_e_us, morte_e_us_passado))
print("Mortos ou estadunidenses: " + comparador(morte_ou_us, morte_ou_us_passado))

Mortos e estadunidenses: Atual: 0.18%, ano passado: 53.2%, dif: 0.33%
Mortos ou estadunidenses: Atual: 0.34%, ano passado: 0.29%, dif: 116.67%

## h) P(morte covid e ser Italiano)

In [104]:
morte_e_it = dados("Italy", "dead", recente) / total_populacao

print(f"Probabilidade de estar morto e ser italiano: " + porcentagem(morte_e_it))

Probabilidade de estar morto e ser italiano: 0.03%

## i) P(morte covid | ser Italiano)

In [105]:
morte_ou_it = (dados("Italy", "dead", recente) / total_populacao) / (
    dados("Italy", "pop", recente) / total_populacao
)

print(f"Probabilidade de estar morto ou ser italiano: " + porcentagem(morte_ou_it))

Probabilidade de estar morto ou ser italiano: 0.32%

## j) Compare estes resultados com o mesmo período do ano passado.

In [106]:
morte_e_it_passado = dados("Italy", "dead", ano_passado) / total_mortes_passado
morte_ou_it_passado = (dados("Italy", "dead", ano_passado) / total_populacao) / (
    dados("Italy", "pop", ano_passado) / total_populacao
)

print("Mortos e italianos: " + comparador(morte_e_it, morte_e_it_passado))
print("Mortos ou italianos: " + comparador(morte_ou_it, morte_ou_it_passado))

Mortos e italianos: Atual: 0.03%, ano passado: 8.64%, dif: 0.34%
Mortos ou italianos: Atual: 0.32%, ano passado: 0.26%, dif: 120.44%

## 5 – Gerar uma tabela resumo de todos os resultados. Comente as diferenças.

In [107]:
resumo_infectados = [
    [
        "Brazil",
        sum(df[(df["country"] == "Brazil") & (df["date"] == recente)]["infected"]),
        sum(df[(df["country"] == "Brazil") & (df["date"] == ano_passado)]["infected"]),
        infectado_e_br,
        infectado_e_br_passado,
        infectado_ou_br,
        infectado_ou_br_passado,
    ],
    [
        "Italy",
        sum(df[(df["country"] == "Italy") & (df["date"] == recente)]["infected"]),
        sum(df[(df["country"] == "Italy") & (df["date"] == ano_passado)]["infected"]),
        infectado_e_it,
        infectado_e_it_passado,
        infectado_ou_it,
        infectado_ou_it_passado,
    ],
    [
        "US",
        sum(df[(df["country"] == "US") & (df["date"] == recente)]["infected"]),
        sum(df[(df["country"] == "US") & (df["date"] == ano_passado)]["infected"]),
        infectado_e_us,
        infectado_e_us_passado,
        infectado_ou_us,
        infectado_ou_us_passado,
    ],
]
resumo_infectados_df = pd.DataFrame(
    resumo_infectados,
    columns=[
        "País",
        "Total infectados 2022",
        "Total infectados 2021",
        "Infectados+ 2022",
        "Infectados+ 2021",
        "Infectados| 2022",
        "Infectados| 2021",
    ],
)

In [108]:
resumo_mortes = [
    [
        "Brazil",
        sum(df[(df["country"] == "Brazil") & (df["date"] == recente)]["dead"]),
        sum(df[(df["country"] == "Brazil") & (df["date"] == ano_passado)]["dead"]),
        morte_e_br,
        morte_e_br_passado,
        morte_ou_br,
        morte_ou_br_passado,
    ],
    [
        "Italy",
        sum(df[(df["country"] == "Italy") & (df["date"] == recente)]["dead"]),
        sum(df[(df["country"] == "Italy") & (df["date"] == ano_passado)]["dead"]),
        morte_e_it,
        morte_e_it_passado,
        morte_ou_it,
        morte_ou_it_passado,
    ],
    [
        "US",
        sum(df[(df["country"] == "US") & (df["date"] == recente)]["dead"]),
        sum(df[(df["country"] == "US") & (df["date"] == ano_passado)]["dead"]),
        morte_e_us,
        morte_e_us_passado,
        morte_ou_us,
        morte_ou_us_passado,
    ],
]
resumo_mortes_df = pd.DataFrame(
    resumo_mortes,
    columns=[
        "País",
        "Total mortes 2022",
        "Total mortes 2021",
        "Mortos+ 2022",
        "Mortos+ 2021",
        "Mortos| 2022",
        "Mortos| 2021",
    ],
)

In [109]:
resumo_infectados_df

,País,Total infectados 2022,Total infectados 2021,Infectados+ 2022,Infectados+ 2021,Infectados| 2022,Infectados| 2021
0,Brazil,37076053,29198101,0.057962,0.233119,0.174393,0.137338
1,Italy,25603510,13159342,0.040027,0.105065,0.429950,0.220980
2,US,103802702,79536060,0.162278,0.635019,0.315031,0.241384

In [110]:
resumo_mortes_df

,País,Total mortes 2022,Total mortes 2021,Mortos+ 2022,Mortos+ 2021,Mortos| 2022,Mortos| 2021
0,Brazil,699276,653767,0.001093,0.361086,0.003289,0.003075
1,Italy,188322,156357,0.000294,0.086359,0.003162,0.002626
2,US,1123836,963275,0.001757,0.532032,0.003411,0.002923

In [111]:
print(
    "Média de infecções em 2022: %s"
    % (np.mean(resumo_infectados_df["Total infectados 2022"]))
)
print(
    "Média de infecções em 2021: %s"
    % (np.mean(resumo_infectados_df["Total infectados 2021"]))
)
print("Média de mortes em 2022: %s" % (np.mean(resumo_mortes_df["Total mortes 2022"])))
print("Média de mortes em 2021: %s" % (np.mean(resumo_mortes_df["Total mortes 2021"])))

Média de infecções em 2022: 55494088.333333336
Média de infecções em 2021: 40631167.666666664
Média de mortes em 2022: 670478.0
Média de mortes em 2021: 591133.0

As taxas de infecção e morte se amenizam conforme o tempo passa, devido a aplicação de vacinas.

Por mais que os dados revelem que houve um crescimento de 160% na taxa de mortalidade devemos levar em consideração que isso é uma taxa de aumento.

Sendo que na realidade morre-se menos do que nos picos de 2021.

Porém, a taxa de infecção aumentou bastante sendo ela 250%.